extends header
block scripts
	link(rel='stylesheet', href='/css/challenge.css')
	link(rel='stylesheet', href='/css/scroll.css')
	script(type='text/javascript', src='/js/challenge.js')
block content
	section#content
		div#info 
			span 알림
		div#notice
			table
				tr
					td [2017-03-02 03:04:05.678]&nbsp;&nbsp; 'Get Flag' 문제가 추가 되었습니다.
				tr
					td [2017-03-03 03:04:05.678]&nbsp;&nbsp; 'antiweb' 님이 인증에 성공하여 점수가 '400'점이 되었습니다.
				tr
					td [2017-03-04 03:04:05.678]&nbsp;&nbsp; 'BabyPwn' 문제가 추가 되었습니다.
				tr
					td [2017-03-05 03:04:05.678]&nbsp;&nbsp; 'antiweb' 님이 인증에 성공하여 점수가 '500'점이 되었습니다.
				tr
					td [2017-03-06 03:04:05.678]&nbsp;&nbsp; 'BabyMISC' 문제가 추가 되었습니다.
				tr
					td [2017-03-07 03:04:05.678]&nbsp;&nbsp; 'antiweb' 님이 인증에 성공하여 점수가 '600'점이 되었습니다.
				tr
					td [2017-03-06 03:04:05.678]&nbsp;&nbsp; 'BabyMISC' 문제가 추가 되었습니다.
				tr
					td [2017-03-07 03:04:05.678]&nbsp;&nbsp; 'antiweb' 님이 인증에 성공하여 점수가 '600'점이 되었습니다.
		div#probTable
			table
				tr
					td.red(colspan='2') Reversing
				tr
					td Get Flag
					td 50
				tr.select
					td(colspan='2') 
						h3 Get Flag
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyPwn
					td 150
				tr.select
					td(colspan='2') 
						h3 BabyPwn
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyMISC
					td 250
				tr.select
					td(colspan='2') 
						h3 BabyMISC
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
			table
				tr
					td.orange(colspan='2') Pwnable
				tr
					td Get Flag
					td 50
				tr.select
					td(colspan='2') 
						h3 Get Flag
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyPwn
					td 150
				tr.select
					td(colspan='2') 
						h3 BabyPwn
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyMISC
					td 250
				tr.select
					td(colspan='2') 
						h3 BabyMISC
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
			table
				tr
					td.blue(colspan='2') Misc
				tr
					td Get Flag
					td 50
				tr.select
					td(colspan='2') 
						h3 Get Flag
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyPwn
					td 150
				tr.select
					td(colspan='2') 
						h3 BabyPwn
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyMISC
					td 250
				tr.select
					td(colspan='2') 
						h3 BabyMISC
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
			table
				tr
					td.green(colspan='2') Crypto
				tr
					td Get Flag
					td 50
				tr.select
					td(colspan='2') 
						h3 Get Flag
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyPwn
					td 150
				tr.select
					td(colspan='2') 
						h3 BabyPwn
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyMISC
					td 250
				tr.select
					td(colspan='2') 
						h3 BabyMISC
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
			table
				tr
					td.purple(colspan='2') Web
				tr
					td Get Flag
					td 50
				tr.select
					td(colspan='2') 
						h3 Get Flag
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyPwn
					td 150
				tr.select
					td(colspan='2') 
						h3 BabyPwn
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH
				tr
					td BabyMISC
					td 250
				tr.select
					td(colspan='2') 
						h3 BabyMISC
						p 플래그 뽑아버렷!
						p 플래그 형식은 'NOE{flag}'
						p 
							a(href='#') DOWNLOAD
						h4 @antiweb, @cdor1, @sori
						input(type='text', placeholder='NOE{flag}')
						button AUTH