extends header
block scripts
	link(rel='stylesheet', href='/css/index.css')
block content
	//canvas#c
	section#content
		div#paragraph
			div#category(class='red')
				span NOE CTF
			div#allContent
				p NOE(Node, Other, Exploit)의 줄임말로 '노드잡익스충'을 의미한다.
				p 테스트
		div#paragraph
			div#category(class='orange')
				span NOE CTF
			div#allContent
				p NOE(Node, Other, Exploit)의 줄임말로 '노드잡익스충'을 의미한다.
		div#paragraph
			div#category(class='green')
				span NOE CTF
			div#allContent
				p NOE(Node, Other, Exploit)의 줄임말로 '노드잡익스충'을 의미한다.
		div#paragraph
			div#category(class='blue')
				span NOE CTF
			div#allContent
				p NOE(Node, Other, Exploit)의 줄임말로 '노드잡익스충'을 의미한다.
		div#paragraph
			div#category(class='purple')
				span NOE CTF
			div#allContent
				p NOE(Node, Other, Exploit)의 줄임말로 '노드잡익스충'을 의미한다.