extends header
block scripts
	link(rel='stylesheet', href='/css/rank.css')
block content
	section#content
		div#rank
			table
				tr
					td rank
					td nick
					td comment
					td score
					td last-auth
				tr
					td 1
					td antiweb
					td http://antiweb.kr
					td 500
					td 2017-03-02 03:12:23.456
				tr
					td 2
					td hepstar
					td https://hepstar.kr
					td 400
					td 2017-03-03 03:12:23.456
				tr
					td 3
					td noe
					td 노드잡익스충 영원하라
					td 300
					td 2017-03-04 03:12:23.456