@import url("https://fonts.googleapis.com/css?family=Secular+One|Tenali+Ramakrishna|Muli");
@import url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css");
@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");
html,
body {
  background-color: #222;
  padding: 0 0;
  margin: 0 0;
  font-size: 16px;
}
html #wrapper,
body #wrapper {
  color: #fff;
  width: 100%;
  font-family: 'Muli', 'Noto Sans Korean', 'Nanum Barun Gothic', sans-serif;
}
