#wrapper
	#Management
		width 90%
		margin auto
		padding 1em
		section
			width 100%
			height auto
			text-align center
			h2
				font-size 1.8em
				margin 0
				line-height 2.5
				text-align left
			.top, .prob table
				color #FFF
				font-size 1.25em
				border-collapse collapse
				th, td
					padding .25em
					border-bottom 1px solid #FFF
					&:nth-child(1):nth-last-child(2)
						&:first-child
							width 10%
						&:last-child
							width 90%
					&:nth-child(1):nth-last-child(2)
						&:first-child
							width 10%
						&:nth-of-type(2)
							width 70%
						&:last-child
							width 20%
			.top
				width 80%
				margin auto
				tr
					&:first-child
						background-color #E91E63
			.prob
				width 80%
				height 15em
				overflow-y auto
				margin auto
				table
					width 100%
					td
						font-size 1.1em
						text-align center
			button
				width 40%
				margin auto
				font-size 1.5em
				padding .5em
				margin .5em
				font-weight 700
				border 0
				background-color #E91E63
				color #FFF
		.challInsert, .probInsert, .userSearch, .alertInsert, .logout
			height auto
			form
				width 80%
				margin auto
				padding 1em
			input[type='text'], input[type='password'], select, textarea, button
				width 100%
				margin .5em
				padding .5em
				font-size 1.3em
				text-align center
				font-weight 700
				font-family 'Noto Sans Korean', sans-serif
			button
				width 80%
				border 0
				font-size 1.5em
				background-color #E91E63
				color #FFF
			select
				text-align-last center
		.userSearch .userInfo
			width 80%
			margin auto
			text-align left
			p
				margin 0
				line-height 1.75
				font-weight 700
				font-size 1.2em
		